.receive_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 10px;
    background-color: #ffff;
    border-radius: 8px;
    border: none;
    margin: 1% 0;
    
  }
  .receive_list :first-child{
    grid-column: 1/-1;
  }
  .receive_list_item {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 95%;
    position: relative;

   background-color: #e0dfdf;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  .receive_list_item:hover {
    background-color: #f1f1f1;
  }
  
  .profile_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .user_info {
    display: flex;
    flex-direction: column;
  }
  
  .user_name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  .buttons_container{
    position: absolute;
    right: 1rem;
  }
  .buttons_container button{
    margin-left:1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #81e081;
    color: white;
    cursor: pointer;
  }
.buttons_container button:hover{
  background-color: #2a5c2a;
}  
.buttons_container button:last-child{
  background-color: #e75b5b;
}
.buttons_container button:last-child:hover{
  background-color: #802020;
}

@media (max-width: 768px){
  .receive_list{
    display: block;
    padding: 10px 5px;
  }
  .buttons_container button{
    display: block;
    margin:1rem 0rem;
  }
}
