
  
.user_card {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .profile_pic_container {
    width: 100%; 
    height: 100%;
    margin: auto;
    overflow: hidden; 
    
  }
  .user_card:hover {
    transform: scale(1.05); 
  }
  
  .profile_pic {
    width: 100%; 
    height: 100%;
   
    object-fit: cover;
    margin: auto; 
  }
  
  .user_details {
    text-align: center;
    margin-bottom: 12px;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .user-bio {
    font-size: 14px;
    color: #555;
    margin-top: 8px;
  }