.user_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 4 columns */
    gap: 1.5rem;
    padding: 16px;
  }
  .head{
    text-align: center;
    text-decoration: underline;
  }

  @media(max-width:768px){
    .user_grid{
      grid-template-columns: 250px;
      box-sizing: border-box;
    }
    
  }