.main_div{
    background: #ffffff;
}
.main_div h2 {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.625rem;
    border-radius: 0.625rem;
}

.form_profile_pic{
   
    border: 1px solid black;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
}
.form_profile_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.upload_img_div{
    text-align: center;
    margin-top: 1.5rem;
}
.upload_img_btn{
    padding: 5px 10px;
    background: rgb(73, 66, 66);;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.upload_img_btn:hover{
    background: black;
}
.additional_img_main_div{
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    padding: 1.25rem;
    border-radius: 0.625rem;
    
    
}
.additional_img{
    width: 8rem;
    height:12rem;
    border: 1px solid #ccc;  
    border-radius: 5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
    
}
.additional_img .addImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.addBtn1{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: auto;
    right: auto;
    z-index: 1;
    cursor: pointer;
}
.addBtn2{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: auto;
    left:auto ;
    z-index: 1;
    cursor: pointer;
}
.addBtn3{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: auto;
    right: auto;
    z-index: 1;
    cursor: pointer;
}
.addBtn1:hover{
    transform: scale(1.05); 
}
.addBtn2:hover{
    transform: scale(1.05); 
}
.addBtn3:hover{
    transform: scale(1.05); 
}

.textarea{
    height: 5rem;
    border-radius: 5px;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
}
.profile_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    min-height: 80vh;
    padding: 2.5rem;
    
}

.profile_form {
    display: contents;
}


.form_group {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 0.625rem;
}

.form_group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form_group input,
.form_group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.submit_btn_div{
    width: 100%;
}

.submit_btn {
    padding: 0.9375rem;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    width: 25%;
    margin-left: 37%;
    margin-bottom: 2rem;

}

.submit_btn:hover {
    background: #0056b3;
}
.remove_img{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    height: 1rem;
    width:1rem;
    align-items: center;
}
.remove_img img{
    max-width: 100%;
}
.remove_img img:hover{
    transform: scale(1.25); 
}

@media (max-width: 768px) {
    .profile_container {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    .form_group {
        padding: 10px;
    }

    .submit_btn {
        padding: 10px;
        font-size: 1em;
    }
}